* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

body {
  background: #f5f5f5;
  height: 100vh;
}

.rigth-side {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  background-color: #f3e8ff;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;

  &:focus {
    border-color: #2575fc;
  }
}

button {
  padding: 0.8rem;
  background: #5710a8;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: #1a5ed7;
  }
}

.social-login {
  margin-top: 1.5rem;

  p {
    margin-bottom: 0.5rem;
    color: #666;
  }

  .icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}