// Painel.style.scss

.painel-layout {
  display: flex;
  min-height: 100vh;
  background-color: #F3F4F6; // <-- ESTE É O FUNDO CINZA QUE DEVE APARECER NAS BORDAS
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Em Painel.style.scss

.content-area {
  padding: 2rem;
  background-color: #FFFFFF;
   border-radius: 0 0 12px 12px;
  flex: 1;
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.5px;

}